.far{
   
    width: 1124px;
    height: 217px;
}
h1{
   
width: 1137px;
height: 229px;

font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 121px;
}
.l{
    width: 1137px;
height: 631px;
}
.c{
    width: 1145px;
height: 680px;
}
p{
    width: 573px;
height: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;

}
